@media only screen and (max-width: 768px) {
     /* general */
     h2 {

          font-size: 150%;}

     /* nav bar */
     .navbar-animation ul li a {

          font-size: 15px;}

     /* about */
     .about {

          padding-top: 150px; }

     .display-2 {

          font-size: 500%;}
     
     .lead {

          font-size: 90%;}

     /* skills */

     .container-slider {
          box-sizing: border-box;
          height: 115px;
          width: 720px;
          margin: 0 auto;  
          position: relative;  
          overflow: hidden; }
     
     .slider i {
          font-size: 50px;
          margin: 10px; }

     @keyframes move_slide {
          from {
               transform: translateX(950px); }
          
          to {
               transform: translateX(-700px); }}

     /* projects */
     .card-title {

          font-size: 80%; }
     .card-header {

          font-size: 70%; }

     /* contacts */
     .contacts-info p {

          font-size: 90%;} 

     /* footer */
     footer p {

          font-size: 90%; }
}

@media only screen and (max-width: 575px) {
     /* general */
     h2 {

          font-size: 145%;}

     /* nav bar */
     .navbar-animation ul li a {

          font-size: 10px;}

     /* about */
     .about {

          padding-top: 150px; }

     .display-2 {

          font-size: 450%;}
     
     .lead {

          font-size: 80%;}

     /* skills */

     .container-slider {
          box-sizing: border-box;
          height: 100px;
          width: 525px;
          margin: 0 auto; 
          /* overflow: hidden;  */}
     
     .slider i {
          font-size: 50px;
          margin: 20px; }

     .slider {
          display: inline-flex;
          animation: move_slide 7s linear infinite; 
     }

     @keyframes move_slide {
          from {
               transform: translateX(1200px); }
          
          to {
               transform: translateX(-500px); }}

     /* projects */
     .card-title {

          font-size: 75%; }
     .card-header {

          font-size: 65%; }

     

     /* contacts */
     .contacts-info p {
          padding-left: 55px;
          font-size: 75%;} 

     /* footer */
     footer p {

          font-size: 75%; }

}



@media only screen and (max-width: 412px) {
     /* general */
     h2 {

          font-size: 140%;}

     /* nav bar */
     .navbar-animation ul li a {

          font-size: 10px;}

     /* about */
     .about {

          padding-top: 150px; }

     .display-2 {

          font-size: 450%;}
     
     .lead {

          font-size: 80%;}

     /* skills */

     .container-slider {
          box-sizing: border-box;
          height: 80px;
          width: 350px;
          margin: 0 auto; 
          /* overflow: hidden;  */}
     
     .slider i {
          font-size: 40px;
          margin: 20px; }

     .slider {
          display: inline-flex;
          animation: move_slide 7s linear infinite; 
     }

     @keyframes move_slide {
          from {
               transform: translateX(1200px); }
          
          to {
               transform: translateX(-290px); }}

     /* projects */
     .card-title {

          font-size: 70%; }
     .card-header {

          font-size: 60%; }

     

     /* contacts */
     .contacts-info p {
          padding-left: 55px;
          font-size: 80%;} 

     /* footer */
     footer p {

          font-size: 80%; }

}

@media only screen and (max-width: 360px) {
     /* general */
     h2 {

          font-size: 140%;}

     /* nav bar */
     .navbar-animation ul li a {

          font-size: 10px;}

     /* about */
     .about {

          padding-top: 150px; }

     .display-2 {

          font-size: 450%;}
     
     .lead {

          font-size: 80%;}

     /* skills */

     .container-slider {
          box-sizing: border-box;
          height: 80px;
          width: 320px;
          margin: 0 auto; 
          /* overflow: hidden;  */}
     
     .slider i {
          font-size: 40px;
          margin: 20px; }

     .slider {
          display: inline-flex;
          animation: move_slide 7s linear infinite; 
     }

     @keyframes move_slide {
          from {
               transform: translateX(1200px); }
          
          to {
               transform: translateX(-250px); }}

     /* projects */
     /* ---- */
     .card-title {


          font-size: 70%; }
     .card-header {

          font-size: 60%; }

     

     /* contacts */
     .contacts-info p {
          padding-left: 55px;
          font-size: 80%;} 

     /* footer */
     footer p {

          font-size: 80%; }

}


