/*--------------------*/
/* general  ----------*/
/*--------------------*/
* {
    font-family: 'Lato', 'Arial', sans-serif;
    box-sizing: border-box; }

html {
    color: rgb(136, 136, 136);
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth; }
    
article::-webkit-scrollbar-thumb {
    background-color: #000a;
    border-radius: 0.5em;
    }

body {
    background-color: #f1f2f6;
    transition: background-color 0.5s, color 0.5s; }

.body-dark {
    background-color: #2d3436;
    color: #fff;
    transition: background-color 0.5s, color 0.5s; }

.row {

    padding: 0px;
    margin: 0 ; }

.section {
    clear: both;
    padding: 0;
    margin: 0; }

h2 {
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 1px; }

h2:after {
    display: block;
    height: 2px;
    background-color:rgb(136, 136, 136);
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;}


/*--------------------*/
/* scroll bar  ----------*/
/*--------------------*/
/*
/* width 
::-webkit-scrollbar {
    width: 10px; }
  
/* Track 
::-webkit-scrollbar-track {
    background: blue;
    border-radius: 10px; }

/* Handle 
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px; }

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
    background: #b30000; }*/


/*--------------------*/
/* nav bar  ----------*/
/*--------------------*/
nav {
    padding: 0;
    background-color:#dfe4ea;
    transition: background-color 0.5s; }

.nav-dark {
    background-color: #636e72;
    transition: background-color 0.5s; }
    
.navbar-animation ul li  {
    letter-spacing: 1px;
    padding-right: 20px;}

.navbar-animation ul li a:link,
.navbar-animation ul li a:visited {
    display: inline-block;
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s; }

.navbar-animation ul li a:hover,
.navbar-animation ul li a:active {
    transition: border-bottom 0.5s;
    border-bottom: 2px solid #2C3A47; }

/*--------------------*/
/* about  ----------*/
/*--------------------*/
.about {
    display: none;
    padding-top: 150px;
    position: relative; }

header {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center; }

label {
    margin: 0;
    background-color:#f1f2f6;
    position: relative;
    border-radius: 20px;
    padding: 5px;
    height: 26px;
    width: 50px;
    border: 1px solid#808e9b;
    transition: background-color 0.5s, border 0.5s; }

.ball{
    background-color: #fff;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    position: absolute;
    left: 1px;
    bottom: 1px;
    transition: transform 0.2s linear; }

.checkbox:checked + label .ball {
    transform: translateX(24px); }

.checkbox:checked + label {
    transition: background-color 0.5s, border 0.5s, background-image 0.5s;
    background-color:#2C3A47;
    border: 1px solid#182025; }

.checkbox{
    opacity: 0;
    position: relative; }

.navbar-toggler-icon {
    color:black; }

/* mode icon  ----------*/
.ball i {
    position: relative;
    font-size: 24px;
    bottom: 7px;
    color:#1e272e;
    transition: color 0.5s; }

.ion-ios-sunny {
    left: 3px; }

.ion-ios-moon {
    left: 7px; }

.lead {
    text-decoration: none;
}


/*--------------------*/
/* skills  ----------*/
/*--------------------*/
.skills {
    padding: 20px 0 20px 0;
    text-align: center;
     }

.container-slider {
    box-sizing: border-box;
    height: 115px;
    width: 900;
    margin: 0 auto;  
    position: relative;  
    overflow: hidden;  
}

.slider {   
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;                 
    padding: 0px 30px 0 30px;
    animation: move_slide 8s linear infinite; 
}

.slider i {
    font-size: 68px;
    margin: 10px; }

.slider:hover {
    animation-play-state: paused;}

.devicon-html5-plain,
.devicon-css3-plain,
.devicon-javascript-plain,
.devicon-php-plain,
.devicon-git-plain,
.devicon-laravel-plain,
.devicon-mysql-plain,
.devicon-gitlab-plain,
.devicon-jquery-plain,
.devicon-nodejs-plain,
.devicon-express-original,
.devicon-react-original,
.devicon-mongodb-plain {
    transition: color 0.5s; } 

.colored {
    transition: color 0.5s; }


@keyframes move_slide {
    from {
        transform: translateX(1200px); }

    to {
        transform: translateX(-950px); }}



/*--------------------*/
/* projects ----------*/
/*--------------------*/
.projects {
    padding: 20px 0 20px 0; } 

.projects h2 {
    text-align: center;
    margin-bottom: 25px;}

.projects-card-light {
    background-color:#ffffff;
    transition: background-color 0.5s; }

.projects-card-dark {
    background-color:#57606f;
    transition: background-color 0.5s; }

.card-header {
    font-size: 85%;
}


/*--------------------*/
/* contacts   ----------*/
/*--------------------*/
.contacts {
    padding: 20px 0 20px 0px; }

.contacts h2 {
    padding: 0;
    text-align: center;}

.contacts-info p {
    padding-left: 79px;}


/*--------------------*/
/* footer  ----------*/
/*--------------------*/
.footer-light {
    padding: 15px;
    text-align: center;
    background-color: #dfe4ea;
    transition: background-color 0.5s; }

.footer-dark {
    padding: 15px;
    text-align: center;
    background-color: #636e72;
    transition: background-color 0.5s; }

footer p {
    margin: 0; }























 

